tap "homebrew/bundle"
tap "homebrew/core"
tap "romkatv/powerlevel10k"
brew "bat"
brew "chezmoi"
brew "exa"
brew "fd"
brew "fish"
brew "fnm"
brew "gh"
brew "git"
brew "git-delta"
brew "jq"
brew "lima"
brew "neovim"
brew "openssh"
brew "ripgrep"
brew "romkatv/powerlevel10k/powerlevel10k"
tap "homebrew/cask-fonts"
cask "font-hack-nerd-font"
{{ if eq .chezmoi.os "darwin" -}}
brew "pinentry-mac"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
cask "itsycal"
cask "kitty"
cask "secretive"
cask "slack"
cask "zoom"
cask "zsa-wally"
{{ end -}}
